@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <button>
        <a href="~/Game/CreateGame">Create Game</a>
    </button>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Sign out" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Sign in</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
}