@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "CreateField";
}

<h1>CreateField</h1>

<p>Game Id: @Context.Session.GetInt32("gameId")</p>

<p>Player Id: @Context.Session.GetInt32("playerId")</p>

<div id="shipsPanel"></div>
<div id="fieldPanel">
    <div id="fieldContainer"></div>
    <button id="createField">Create</button>
</div>


<script src="~/js/createField.js"></script>
<link rel="stylesheet" href="~/css/createField.css" />
